

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                    href="https://www.facebook.com/m.saadeh90">
                      Mohannad Saadeh
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="https://github.com/MohnadSaadeh">Clups.ps</a> 
                      - Developed by <a target="_blank" rel="noopener noreferrer" href="https://github.com/MohnadSaadeh">Mohnnad Saadeh</a>
          </div>
        </div>
    </footer>
